# Documentation

{{#appDescription}}
{{{appDescription}}}
{{/appDescription}}

## Overview

API version: {{appVersion}}

## Endpoints

All URIs are relative to *{{basePath}}*

Class | Operation | Method | Path | Description
------------ | ------------- |------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationIdCamelCase}}**]({{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{vendorExtensions.httpMethod}}** | {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Models

{{#models}}{{#model}} - [{{{classname}}}]({{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}

## Author

{{#apiInfo}}{{#apis}}{{^hasMore}}{{infoEmail}}{{/hasMore}}{{/apis}}{{/apiInfo}}
