{{#models}}{{#model}}# {{classname}}

{{#description}}
{{.}}

{{/description}}
## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
{{#vars}}**{{name}}** | {{#isNullable}}Pointer to {{/isNullable}}{{^isModel}}**{{{dataType}}}**{{/isModel}}{{#isModel}}[**{{{dataType}}}**]({{complexType}}.md){{/isModel}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/vars}}

[[Back to Model list]](./README.md#models) [[Back to API list]](./README.md#endpoints) [[Back to README]](./README.md)
{{/model}}{{/models}}
