# {{classname}}

> {{description}}

All URIs are relative to *{{basePath}}*

Operation | Method | Path | Description
------------- | ------------- |------------- | -------------
{{#operations}}
{{#operation}}
[**{{operationIdCamelCase}}**]({{classname}}.md#{{operationIdCamelCase}}) | **{{vendorExtensions.httpMethod}}** | {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}
{{/operations}}
{{#operations}}
{{#operation}}

## {{{operationIdCamelCase}}}

> {{{summary}}}{{#notes}}{{{notes}}}{{/notes}}

{{^allParams}}
### Parameters

This endpoint does not need any parameter.
{{/allParams}}

### Required Parameters

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
{{#requiredParams}}
**{{paramName}}** | {{#isNullable}}Pointer to {{/isNullable}}{{^isModel}}**{{{dataType}}}**{{/isModel}}{{#isModel}}[**{{{dataType}}}**]({{vendorExtensions.dataType}}.md){{/isModel}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/requiredParams}}

### Optional Parameters

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
{{#optionalParams}}
**{{paramName}}** | {{#isNullable}}Pointer to {{/isNullable}}{{^isModel}}**{{{dataType}}}**{{/isModel}}{{#isModel}}[**{{{dataType}}}**]({{vendorExtensions.dataType}}.md){{/isModel}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/optionalParams}}

{{#vendorExtensions.defaultResponse}}
### Return type

{{^isModel}}**{{{returnType}}}**{{/isModel}}{{#isModel}}[**{{{dataType}}}**]({{dataType}}.md){{/isModel}}

{{/vendorExtensions.defaultResponse}}
### HTTP request headers

- **Content-Type**: {{#consumes}}`{{{mediaType}}}`{{#hasMore}}, {{/hasMore}}{{/consumes}}{{^consumes}}Not defined{{/consumes}}
- **Accept**: {{#produces}}`{{{mediaType}}}`{{#hasMore}}, {{/hasMore}}{{/produces}}{{^produces}}Not defined{{/produces}}

{{/operation}}
{{/operations}}

[[Back to top]](#) [[Back to API list]](./README.md#endpoints) [[Back to Model list]](./README.md#models) [[Back to README]](./README.md)
