{{>header}}
package {{modelPackage}}
{{#imports}}
{{#-first}}

import (
  "net/http"
{{/-first}}
  "{{import}}"
{{#-last}}
)
{{/-last}}
{{/imports}}
{{#models}}
{{#model}}
{{#isEnum}}

// {{{classname}}} emum{{#description}}: {{{description}}}{{/description}}
type {{{classname}}} {{^format}}{{dataType}}{{/format}}{{#format}}{{{format}}}{{/format}}

// List of {{{name}}}
const (
  {{#allowableValues}}
	{{#enumVars}}
	{{name}} {{{classname}}} = {{{value}}}
	{{/enumVars}}
	{{/allowableValues}}
)
{{/isEnum}}
{{^isEnum}}

// {{{classname}}} model{{#description}}: {{{description}}}{{/description}}
type {{classname}} struct {
{{#vars}}
  // {{{name}}} field{{#description}}: {{{description}}}{{/description}}
  {{name}} {{#isNullable}}*{{/isNullable}}{{dataType}} {{{vendorExtensions.tag}}}
{{/vars}}
}
{{/isEnum}}
{{/model}}
{{/models}}
